.contact-container {
  padding-bottom: 60px;
}

.contact-schedule-container {
  margin-bottom: 50px;
}

.contact-flex-container {
  display: flex;
  justify-content: space-between;
}

.contact-title {
  margin-bottom: 40px;
}

.contact-left {
  max-width: 49%;
  margin-left: 50px;
}

address {
  margin-bottom: 30px;
}

address span {
  display: block;
  margin-bottom: 15px;
}

.contact-link-container {
  display: flex;
  flex-direction: column;
}

.phone-link {
  margin-bottom: 20px;
}

.contact-link {
  font-size: 22px;
  transition: color .2s ease;
}

.contact-link:hover {
  color: var(--hover-color);
}

.icon-social {
  margin-right: 20px;
}

.contact-right {
  position: relative;
  max-width: 50%;
}

.map-container {
  position: absolute;
  top: -115px;
  right: -29px;
  width: 800px;
  height: 483px;
}

[class*=ground-pane] {
  filter: grayscale(.5);
}

@media (max-width: 1275px) {
  .contact-left {
    margin-left: 0;
  }

  .map-container {
    width: 600px;
  }
}

@media (max-width: 1024px) {
  .contact-schedule-container {
    max-width: 90%;
  }

  .map-container {
    height: 505px;
  }
}

@media (max-width: 940px) {
  .contact-flex-container {
    flex-direction: column;
  }

  .contact-schedule-container {
    max-width: none;
    margin-bottom: 10px;
  }

  .contact-title {
    margin-bottom: 10px;
  }

  .contact-left {
    max-width: none;
    display: flex;
    /* justify-content: space-between; */
  }

  .contact-right {
    max-width: none;
  }

  .map-container {
    width: 100%;
    height: 350px;
    top: 0;
    left: 0;
  }

  .contact-container {
    padding-bottom: 350px;
  }

  .icon-social {
    margin-right: 10px;
  }
}

@media (max-width: 660px) {
  .contact-left {
    flex-direction: column;
  }

  .contact-link-container {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}