.contact-container {
  padding-bottom: 60px;
}

.contact-schedule-container {
  margin-bottom: 50px;
}

.contact-flex-container {
  display: flex;
  justify-content: space-between;
}

.contact-title {
  margin-bottom: 40px;
}

.contact-left {
  max-width: 49%;
  margin-left: 50px;
}

address {
  margin-bottom: 30px;
}

address span {
  display: block;
  margin-bottom: 15px;
}

.contact-link-container {
  display: flex;
  flex-direction: column;
}

.phone-link {
  margin-bottom: 20px;
}

.contact-link {
  font-size: 22px;
  transition: color .2s ease;
}

.contact-link:hover {
  color: var(--hover-color);
}

.icon-social {
  margin-right: 20px;
}

.contact-right {
  position: relative;
  max-width: 50%;
}

.map-container {
  position: absolute;
  top: -115px;
  right: -29px;
  width: 800px;
  height: 483px;
}

[class*=ground-pane] {
  filter: grayscale(.5);
}