.price-subtitle {
  color: var(--title-color);
  font-weight: 400;
  margin-bottom: 15px;
}

.size-description {
  margin-bottom: 15px;
}

.price-list {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--table-color);
}

.price-mobile {
  display: none;
}

.price-item {
  display: flex;
  justify-content: space-between;
  width: 33.3%;
  padding: 7px 5px;
}

.price-item:first-child {
  width: 180px;
}

.price-item:not(:first-child) {
  border-left: 1px solid var(--table-color);
}

.price-list__title {
  margin-bottom: 5px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.price-item__title:first-child {
  position: relative;
}

.price-item__title:first-child::after {
  content: "";
  position: absolute;
  top: 44px;
  left: -11px;
  width: 113%;
  height: 1px;
  background-color: var(--table-color);
  transform: rotate(151.4deg);
}

.price-item__title:not(:first-child) {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.span1,
.span2 {
  display: block;
}

.span2 {
  margin-top: auto;
}

.span-width {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}

.price-list__body {
  border-bottom: none;
}

.price-item__body {
  padding: 9px 5px;
  align-items: center;
  justify-content: center;
}

.span-width-body {
  margin-top: 0;
}

.list-body--first {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.list-body-last {
  border-bottom: 1px solid var(--table-color);
  margin-bottom: 5px;
}

.list-body--last {
  margin-bottom: 10px;
  border-bottom: 1px solid var(--table-color);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.table-description {
  flex-direction: column;
  padding-left: 30px;
}

.price-item__title--l {
  justify-content: center;
  align-items: center;
}

.mobile-442 {
  display: none;
}

@media (max-width: 935px) {
  .price-desktop {
    display: none;
  }

  .price-mobile {
    display: flex;
    justify-content: start;
  }

  .price-item__title:first-child::after {
    top: 32px;
    left: -6px;
    width: 109%;
    transform: rotate(156.9deg);
  }

  .price-item__title:not(:first-child) {
    width: 100%;
  }

  .price-item__body {
    width: 100%;
  }

  .mobile-description {
    margin-bottom: 30px;
  }

  .mobile-size {
    font-size: 14px;
  }

  .mobile-80 {
    min-width: 67px;
  }

  .mobile-148 {
    min-width: 148px;
  }
}

@media(max-width: 675px) {

  .mobile-description,
  .price-list {
    font-size: 14px;
  }

  .price-item__title:first-child::after {
    top: 28px;
    transform: rotate(158.4deg);
  }

  .mobile-148 {
    min-width: 140px;
  }
}

@media(max-width: 564px) {
  .price-item__title:first-child::after {
    display: none;
  }

  .mobile-148 {
    min-width: 30px;
  }
}

@media (max-width: 445px) {
  .desktop-442 {
    display: none;
  }

  .mobile-442 {
    display: block;
  }

  .mobile-442-list {
    font-size: 10px;
    margin-bottom: 25px;
  }
}