@import '../../../style/variables';

.contacts {
  position: relative;
  margin-bottom: 70px;
  padding: 70px 0;
  background-color: $color-comet;
  color: $color-romantic;
  z-index: 0;

  &__container {
    position: relative;
    max-width: 1700px;
    margin: 0 auto;
    padding: 50px 0;
    border-top: 1px solid $color-romantic;
    border-bottom: 1px solid $color-romantic;
    z-index: 2;

    h3 {
      font-size: 32px;
      // font-weight: normal;
      margin-bottom: 20px;
    }
  
    &__paragraph {
      max-width: 40%;
      margin-bottom: 70px;
      font-size: 25px;
    }

    h4 {
      font-size: 28px;
      // font-weight: normal;
      margin-bottom: 20px;
    }
  
    &__wrap {
      display: flex;
      justify-content: space-between;

      &__left {
  
  
        p {
          font-size: 25px;
          max-width: 70%;
        }
      }

      &__right {
        display: flex;
        justify-content: space-between;
        
        ul {
          white-space: nowrap;
          font-size: 25px;

          &:first-child {
            margin-right: 3rem;
          }

          li {
            &:not(:last-child) {
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }

   &__decoration {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: transparent;

    span {
      display: block;
      position: absolute;
      right: -60px;
      top: 35px;
      width: 400px;
      height: 140px;
      background-color: transparent;
      border: 1px solid $color-white;
      border-radius: 200px/70px;
      z-index: 1;
      transform: rotate(-35deg);

      &:first-child {
        border: 1px solid $color-white;
        border-radius: 157px/107px;
        height: 215px;
        top: 0;
        left: -65px;
        transform: rotate(60deg);
      }

      &:last-child::after {
        position: absolute;
        content: '';
        width: 400px;
        height: 100px;
        border: 1px solid $color-white;
        border-radius: 200px/50px;
        background-color: transparent;
        transform: rotate(-47deg);
      }
    }
  }

}